

<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button href="/tabs"> Back </ion-button>
  </ion-buttons>
  <ion-title>Login</ion-title>
  <ion-buttons slot="end">
  </ion-buttons>
</ion-toolbar>

<ion-content  scroll-y="false">
  <ion-list [inset]="true">
    <form [formGroup]="form">
      <ion-item>
        <ion-input label="Email or phone" name="username" type="text" required matInput formControlName="email_phone" autocomplete="off"
        placeholder="{{ 'Your email / phone or code'}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Password" name="password" type="password" required matInput formControlName="password" autocomplete='new-password'
        placeholder="{{'Your password'}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-toggle>
          <ion-label>Remember me!</ion-label>
          <ion-note color="medium">Toggle to remember</ion-note>
        </ion-toggle>
      </ion-item>
      <ion-item>
        <ion-button (click)="login()" style="width:100%; height: 50px; font-size:larger">Login</ion-button> 
      </ion-item>
    </form>
    
  </ion-list>

</ion-content>

