<ion-content scroll-y="false" [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>News</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <app-slides [slides]="banners"></app-slides>
  </ion-card>
  <ion-card>
    <app-news-list></app-news-list>
  </ion-card>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button id="open-modal" expand="block">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>