<ion-content  scroll-y="false" [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">News</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>News</ion-title>
    </ion-toolbar>
  </ion-header>


<div><ion-button id="open-modal" style="padding: 10px 20px 0px 20px" expand="block">Create</ion-button></div>

  <ion-card>
    <!-- <app-news-create></app-news-create> -->
    

  </ion-card>
  <ion-card>
    <app-news-list></app-news-list>
  </ion-card>
  <!-- <app-explore-container name="Tab 2 page"></app-explore-container> -->
</ion-content>
