<ion-toolbar>
    <ion-buttons slot="start">
      <ion-button href="/tabs/tab1"> Back </ion-button>
    </ion-buttons>
    <ion-title>Create order</ion-title>
    <ion-buttons slot="end">
    </ion-buttons>
</ion-toolbar>


<ion-content  scroll-y="false" class="ion-padding">

    <p *ngIf="submitAttempt" style="color: #ea6153;">
        Please fill out all details accurately.
      </p>
      

        <form [formGroup]="form">
          <ion-item>
            <ion-label position="stacked">Item Name</ion-label>
            <ion-input formControlName="firstName" type="text" 
            [class.invalid]="!form.controls.firstName.valid && (form.controls.firstName.dirty || submitAttempt)"
            placeholder="Enter name"></ion-input>
          </ion-item>
          <ion-item
            *ngIf="!form.controls.firstName.valid  && (form.controls.firstName.dirty || submitAttempt)"
          >
            <p>Please enter a valid name.</p>
          </ion-item>
  

          <ion-item>
            <ion-label position="stacked">Last name</ion-label>
            <ion-input formControlName="lastName" type="text" 
            [class.invalid]="!form.controls.lastName.valid && (form.controls.lastName.dirty || submitAttempt)"
            placeholder="Enter name"></ion-input>
          </ion-item>
          <ion-item
            *ngIf="!form.controls.lastName.valid  && (form.controls.lastName.dirty || submitAttempt)"
          >
            <p>Please enter a valid name.</p>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Age</ion-label>
            <ion-input formControlName="age" type="number"
            [class.invalid]="!form.controls.age.valid && (form.controls.age.dirty || submitAttempt)"
            placeholder="Enter age"></ion-input>
          </ion-item>
          <ion-item
            *ngIf="!form.controls.age.valid  && (form.controls.age.dirty || submitAttempt)"
          >
            <p>Please enter a valid age.</p>
          </ion-item>
          <ion-button expand="block" (click)="save()">Save</ion-button>
        </form>


</ion-content>
