<ng-content></ng-content>
<a class="type-toggle">
   <ion-button (click)="scan()" [disabled]="!isSupported" >
    <ion-icon name="barcode-outline" class="show-option"></ion-icon>
</ion-button>
</a>



<!-- <ion-button expand="block" (click)="scan()" [disabled]="!isSupported">Scan</ion-button> -->

<!-- <ion-content  scroll-y="false">
    <ion-card-content>
        <form [formGroup]="formGroup">
            <ion-button expand="block" (click)="startScan()" [disabled]="!isSupported">Start Scan</ion-button>
            <ion-button expand="block" (click)="scan()" [disabled]="!isSupported">Scan</ion-button>

            <ion-button expand="block" (click)="requestPermissions()" [disabled]="isPermissionGranted">Request
                Permissions</ion-button>
        </form>
    </ion-card-content>
</ion-content> -->